In [1]:
# Add dependencies
import pandas as pd

In [2]:
# Read in csv file
vine_df = pd.read_csv("vine_table/vine_table.csv")
vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RQ58W7SMO911M,4.0,2.0,3.0,N,N
1,RF6IUKMGL8SF,3.0,5.0,5.0,N,N
2,R1DOSHH6AI622S,4.0,1.0,22.0,N,N
3,RATOTLA3OF70O,5.0,2.0,2.0,N,N
4,R1TNWRKIVHVYOV,4.0,0.0,2.0,N,N

In [3]:
# Create a new df to retrieve all the rows where the total_votes count is greater than or equal to 20
# new_df = 
new_df = vine_df[vine_df["total_votes"] >= 20]
new_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
2,R1DOSHH6AI622S,4.0,1.0,22.0,N,N
8,R1VE0FQQ0QTQJN,5.0,16.0,20.0,N,Y
16,R1AABFZH0J0C0C,3.0,17.0,35.0,N,N
17,R3SJYLG07EHNE9,2.0,16.0,34.0,N,N
22,R3MD5TZJGIPTDU,5.0,21.0,31.0,N,N
...,...,...,...,...,...,...
3105453,R2OD2TECAR3RM,5.0,19.0,20.0,N,N
3105473,R117GB0UNIVGV9,5.0,33.0,33.0,N,N
3105479,R1DZ6KX3SWKFK2,5.0,45.0,47.0,N,N
3105507,R2YS7NYUYEWWN0,5.0,26.0,29.0,N,N
3105516,R33HOJ2OWJIDQI,5.0,27.0,27.0,N,N

In [4]:
# Filter the new df and create a new one to retrieve all rows where 
# the number of helpful_votes divided by total_votes is equal to or greater than 50%

ratio_column = new_df["helpful_votes"] / new_df["total_votes"]
new_df["vote_ratio"] = ratio_column

filtered_df = new_df[new_df["vote_ratio"] > .5]
filtered_df

C:\Users\This PC\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,vote_ratio
8,R1VE0FQQ0QTQJN,5.0,16.0,20.0,N,Y,0.800000
22,R3MD5TZJGIPTDU,5.0,21.0,31.0,N,N,0.677419
33,RX6OWUF8EFZ72,5.0,27.0,28.0,N,N,0.964286
51,R1OPUF771LL5O5,4.0,27.0,27.0,N,N,1.000000
59,R3AW5JRZYH66M5,1.0,268.0,307.0,N,N,0.872964
...,...,...,...,...,...,...,...
3105453,R2OD2TECAR3RM,5.0,19.0,20.0,N,N,0.950000
3105473,R117GB0UNIVGV9,5.0,33.0,33.0,N,N,1.000000
3105479,R1DZ6KX3SWKFK2,5.0,45.0,47.0,N,N,0.957447
3105507,R2YS7NYUYEWWN0,5.0,26.0,29.0,N,N,0.896552
3105516,R33HOJ2OWJIDQI,5.0,27.0,27.0,N,N,1.000000

In [5]:
# Filter the df and create a new one that retrieves all rows where 
# a review was written as part of the Vine program (unpaid), vine == "Y"
unpaid_df = filtered_df[filtered_df["vine"] == "Y"]
unpaid_df.head()

Empty DataFrame
Columns: [review_id, star_rating, helpful_votes, total_votes, vine, verified_purchase, vote_ratio]
Index: []

In [6]:
# Filter the df and create a new one that retrieves all rows where 
# a review was not written as part of the Vine program (unpaid), vine == "N"
paid_df = filtered_df[filtered_df["vine"] == "N"]
paid_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,vote_ratio
8,R1VE0FQQ0QTQJN,5.0,16.0,20.0,N,Y,0.800000
22,R3MD5TZJGIPTDU,5.0,21.0,31.0,N,N,0.677419
33,RX6OWUF8EFZ72,5.0,27.0,28.0,N,N,0.964286
51,R1OPUF771LL5O5,4.0,27.0,27.0,N,N,1.000000
59,R3AW5JRZYH66M5,1.0,268.0,307.0,N,N,0.872964

In [7]:
# Determine the total number of reviews
total_reviews = filtered_df["review_id"].count()
print(f"Total Reviews: {total_reviews}")

Total Reviews: 399745

In [8]:
# Determine the number of 5-star reviews
five_stars = filtered_df[filtered_df["star_rating"] == 5.0]

five_star_reviews = five_stars["star_rating"].count()
print(f"Five Star Reviews: {five_star_reviews}")

Five Star Reviews: 241836

In [9]:
# Determine the percentage of 5-star reviews for the two types of review (paid vs unpaid)

unpaid_df_count = unpaid_df["star_rating"].count()
unpaid_df_count

unpaid_five_stars = unpaid_df[unpaid_df["star_rating"] == 5.0]
unpaid_five_stars_count = unpaid_five_stars["star_rating"].count()
unpaid_five_stars_count

paid_df_count = paid_df["star_rating"].count()
paid_df_count

paid_five_stars = paid_df[paid_df["star_rating"] == 5.0]
paid_five_stars_count = paid_five_stars["star_rating"].count()
paid_five_stars_count

# (Unpaid Five-Star Reviews / Total Five-Star Reviews)
a = (unpaid_five_stars_count / five_star_reviews)
percentage_a = "{:.02%}".format(a)

# (Paid Five-Star Reviews / Total Five-Star Reviews)
b = (paid_five_stars_count / five_star_reviews)
percentage_b = "{:.02%}".format(b)

# (Unpaid Five-Star Reviews / Total Unpaid Reviews)
c = (unpaid_five_stars_count / unpaid_df_count)
percentage_c = "{:.02%}".format(c)

# (Paid Five-Star Reviews / Paid Reviews)
d = (paid_five_stars_count / paid_df_count)
percentage_d = "{:.02%}".format(d)

# unpaid_five_stars_count = five_stars["star_rating"].count()
print(f"(Unpaid Five-Star Reviews / Total Five-Star Reviews): {percentage_a}")
print(f"(Paid Five-Star Reviews / Total Five-Star Reviews): {percentage_b}")
print(f"(Unpaid Five-Star Reviews / Total Unpaid Reviews): {percentage_c}")
print(f"(Paid Five-Star Reviews / Paid Reviews): {percentage_d}")

(Unpaid Five-Star Reviews / Total Five-Star Reviews): 0.00%
(Paid Five-Star Reviews / Total Five-Star Reviews): 100.00%
(Unpaid Five-Star Reviews / Total Unpaid Reviews): nan%
(Paid Five-Star Reviews / Paid Reviews): 60.50%

C:\Users\This PC\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars